<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dispensary.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @dispensary.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @dispensary.state %>
</p>

<%= link_to 'Edit', edit_dispensary_path(@dispensary) %> |
<%= link_to 'Back', dispensaries_path %>
