<!DOCTYPE html>
<html>
<head>
  <title>Localhash</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
	<div class="nav__inner">
		<% if admin_signed_in? %>
		    <%= render 'layouts/menu_for_admin' %>
		<% elsif user_signed_in? %>
		    <%= render 'layouts/menu_for_user' %>
		<% else %>
		    <%= render 'layouts/menu_for_guest' %>
		<% end %>
	</div>
</nav>

<div class="app__inner">
	<% if notice %>
	<p class="notice"><%= notice %></p>
	<% end %>
	<% if alert %>
	<p class="alert"><%= alert %></p>
	<% end %>
	
	<%= yield %>
</div>
</body>
</html>